/* inserindo uma fonte nova diretamente do site */
@font-face {
    font-family: "Guilherme";
    src: url(../assets/BebasNeue-Regular.ttf);
}

*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

.layout-grid{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 2px solid yellow; */
}

body{
    background-color: #080324;
}

/* ---------- HEADER ---------- */

header {
    height: 60px;
    width: 100% ;
    background-color: #F9003D;
    
}

header .header-flex{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

header nav a {
    color: white;
    text-decoration: none;
    font-family: Guilherme;
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px #F9003D;
    padding: 20px 25px;
    border-radius: 5px;
    /* border: 2px solid white; */
}

header nav a:hover {
    background-color: white;
    text-shadow: 2px 2px 10px #F9003D;
}

/* ------------- MAIN/BANNER -------------- */

main .banner {
    color: white;
    font-family: Guilherme;
    font-size: 50px;
    background-image: url(../assets/img/imagem-fundo-banner\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.titulo  {
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid white; */
}
.titulo h2 {
    color: red;
    font-family:'Courier New', Courier, monospace ;
    font-size: 32px;
    text-transform: uppercase;
    margin: 10px;
    margin-left: 0px;
}

hr {
    width: 330px;
    border: 1px solid #FFAF00;
}

#mouse {
    width: 80px;
    height: 80px;
    margin-top: 25px;
}


section article h2{
    font-size: 53px;
}

/* -------------- MAIN/PROJETOS -------------- */

section article #titulo-proj {
    color: #F9003D;
    font-family: Guilherme;
    font-size: 64px;
    margin-top: 50px;
}

section article #img-reuniao {
    width: 491px;
    height: 476px;
}

article div h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-transform: uppercase;
}

article div #formatacao-titulo-sobre {
    color: #FFAF00;
    font-family: Guilherme;
    font-size: 64px;
    text-transform: uppercase;
}

#projeto {
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
}

.info-projeto{
    width: 623px;
    color: white;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%; 
}

.img-background{
    display: flex;
    align-items: center;
    background-image: url(../assets/img/imagem-fundo-info\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.boxes {
    height: 200px; 
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.titulos-boxes{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.texto-format{
    color: #A259F7;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 289px;
    height: 100px;
    border: 1px solid ;
}

.enderecamento{
    width: 100%;
    height: 516px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-image: url(../assets/img/imagem-fundo-ranking\ 2.png);
}

.info-endereco {
    width: 900px;
    height: 250px;
    border: 1px solid #A259F7;
    background-color: #010010; 
    margin-left: 10%;
    display: flex;
    align-items: center;
    position: relative;
}

.h2-endereco {
    font-size: 64px;
    font-family: Guilherme;
    color: #FFAF00;
    margin-left: 15%;
}

.img-endereco {
    width: 309px;
    height: 250px;
    position: absolute;
    right: 25px;
    bottom: 28px;
}

.info-endereco p {
    color: #A259F7;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    margin-left: 66px;
}

/* Footer */

.div-footer {
    background-color: #F9003D;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragrafo-footer {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;  
}

/* ****Media Queries**** */

/* tablets >= 768px ate 992px */
@media screen and (max-width: 991px) {
    
}

/* smartphones >= 0px ate 768px */
@media screen and (max-width: 991px) {

    .mostrarMenu {
        left: 0;
        opacity: 1;
    }

    /* temporariamente off */
    main,
    footer {
        /* display: none; */
    }

    header #menu-mobile {
        display: block;
        
    }
}

header nav {
    /* display: none; */
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;   /* viewport width*/
    height: 100vh;  /* viewport heigth*/
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F9003D;
    opacity: 0;
    transition: left 0.4s, opacity 0.6s;
}

/* Banner */

main .banner {
    
}